<div id="backing">
    <div>
        <h1>Hi there, I'm Ben.</h1>
    </div>
    <div id = "aboutText">
        <img id = "benImg" src="../../assets/benInSuit.png" alt="Ben">
        <p>
            I am a student pursuing dual bachelor's degrees in business management and computer science at the University of Georgia. 
            While I am mostly focused on my education at the moment, I also hold a Georgia real estate license and thus work part-time
            as a real estate agent to help pay for college. In my spare time, I enjoy working on tech-related
            projects, cooking, learning about software, going to the gym, and playing video games once in a while. 
            (This is by no means an all-inclusive list by the way.) 
        </p>
    </div>
</div>