<button id= "back" routerLink = "../select">
  <img src="./assets/icons/chevron-left.svg" alt ="backArrow">
  <p>Back</p>
</button>
<div id="mainBody">
  <h1>Portfolio 8: Film Review (A Third Time)</h1>
  <p>
    This week's film was <i>America's Blues</i>. It featured interviews with a pretty massive cast of various individuals ranging from musicians, to
    artists, to academics. This admittedly massive cast includes, but are not limited to Big George Brock, David Dee, Watermelon Slim, Harry Webber,
    Sharon Lewis, amongst others. The film, along with the individuals depicted within it, documented the origins of blues along with all that it
    influenced. Indeed, it was surprising for me to learn that blues' tendrils of influence even reached aspects of life such as sexuality and fashion.
  </p>
  <br>
  <p>
    Starting off with the setting, the film encompasses a multitude of locations. Of the locations that were actually filmed for the production, very few,
    if any, were actually directly named. The venues in which the interviews were recorded seem to all be local to where the interviewees were. As such,
    they ranged from art galleries, to recording studios, to even living rooms. The locations/events covered historically on the other hand, were named. The American
    Folk Fest held in Europe was one such location/event. The film also talks about the rise of blues in the Mississippi and Arkansas Deltas. Other historical locations
    covered included Atlanta's 7 Stages Theatre and Storyville, New Orleans.
  </p>
  <br>
  <p>
    The background music heard throughout the film seems to be a blend of jazz, blues and rock instrumental tracks that served to give the viewer an idea of the music that
    was being talked about at the time. There were, however, also sections of the film that featured the music itself, rather than having it just be in the background.
    From my recollection, blues music was the most prominently featured, but rock and roll as well as jazz were also heavily featured. There were even instances where
    the film featured work songs and hip hop. Overall, most of the featured music sounded relatively slow and relaxed to me. There were not very many fast passages and
    everything seemed to be very relaxed.
  </p>
  <br>
  <p>
    With the film being about blues' influence, it should be no surprise that it covered the evolution of blues into jazz and rock and roll, both musically, as well as culturally.
    Overall, the film does a pretty good job at connecting aspects of both jazz and rock to their roots in blues. With rock and roll in particular, the film describes the genre as
    talking blues and "whitening it a little bit". As such, many of the rhythms and even some of the riffs in rock and roll have their origins in blues.
  </p>
  <br>
  <p>
    Overall, what really stood out to me in the film was the sheer amount of things that were influenced by blues. Particularly surprising to me was its influence on
    American sexuality. It would have never occurred to me that blues sort of acted as a gateway for sex to become a more openly talked about subject. It was also interesting
    and novel to hear about the idea that blues can act as a living story about the evolution of culture.
  </p>
</div>
