<div id="title">
    <h1>My Projects</h1>
</div>
<button class = "project" routerLink="../bpoon">
    <img src = "../../assets/Logo.png" alt = "Logo" class = "projectImg">
    <div>
        <h1>Bpoon.com</h1>
        <h2>A personal website built from scratch on Google's Angular framework</h2>
    </div>
    <img class = "arrow" src="../../assets/icons/chevron-right.svg" alt = "Chevron">
</button>
<button class = "project" routerLink="../spark">
    <img src = "../../../assets/spark/SPark.png" alt = "SPark" class = "projectImg" style = "height: 60px;">
    <div>
        <h1>SPark</h1>
        <h2>3rd place finalist concept pitched at Deloitte's Startup UGA 2019</h2>
    </div>
    <img class = "arrow" src="../../assets/icons/chevron-right.svg" alt = "Chevron">
</button>
<button class = "project" routerLink="../night_light">
    <img src = "../../assets/Night Light/main-character.png" alt = "SPark" class = "projectImg" style = "
    height: 65px; 
    width: 65px; 
    margin-right: -5px; 
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;">
    <div>
        <h1>Night Light</h1>
        <h2>"Best in Show" game developed during the 2018 Athens Game Jam</h2>
    </div>
    <img class = "arrow" src="../../assets/icons/chevron-right.svg" alt = "Chevron">
</button>
<button class = "projectLast" onclick="location.href='https://soundcloud.com/superskipper';">
    <img class = "projectImg" src="../../assets//icons/icons8-soundcloud.svg" alt = "SC">
    <div>
        <h1>Personal SoundCloud</h1>
        <h2>Some compositions put together during my spare time</h2>
    </div>
    <img class = "arrow" src="../../assets/icons/chevron-right.svg" alt = "Chevron">
</button>