<button id= "back" routerLink = "../select">
  <img src="./assets/icons/chevron-left.svg" alt ="backArrow">
  <p>Back</p>
</button>
<div id="mainBody">
  <h1>Portfolio 5: Film Review</h1>

  <p>
    The film <i>Amazing Grace: The Story of a Song That Makes a Difference</i> depicts several individuals along with the impact that the Song
    <i>Amazing Grace</i> has brought to their lives.  A selection of these individuals includes singers Johnny Cash, Judy Collins, and even
    some prison inmates. Additionally, a brief history of the tune is also covered within the film. With its words written in 1772 by
    clergyman John Newton, the song itself is a slow, methodical piece that can be sung in a monophonic or a polyphonic manner. The nature
    of the piece allows for a variety of interpretations. The film showcases several renditions ranging from solo performances, to a vocal performance
    accompanied by a guitar, to full choral performances. Naturally then, each rendition also has their own individual idiosyncrasies. Judy Collins' rendition,
    for example, features extremely drawn-out notes with vigorous vocal vibrato. Johnny Cash's performance on the other hand, was comparatively more brisk
    and featured more pronounced pauses.
  </p>
  <p>
    This will by no means be a complete list, but some of the locations featured within the film included Philadelphia, Kentucky, Texas, Alabama, Mississippi,
    New York City, and even London. While much of the venues were cathedrals or churches, some other more uncommon ones included a prison, a backyard, a school,
    and even a graveyard.
  </p>
  <p>
    Over time, <i>Amazing Grace</i> has also experienced various changes. As previously mentioned, the nature of the song allowed for a variety of interpretations
    to develop according to each individual performer's preferences. As a result, the song has been adapted to a variety of situations and time periods. When the
    hymn was first created, for example, the entire song was sung without any vocal portamento or vibrato. As time went on, both of those became more and more commonly-
    practiced. The same could be said about instrumental accompaniment, as the piece was originally intended to be sung a capella.
  </p>
  <p>
    Finally, I think what stood out to me the most about the film was the versatility of the song. Prior to watching the film, I never really considered all of the situations
    and circumstances during which the song could be/is used.
  </p>

</div>
