<div>
    <button id= "back" routerLink = "../select">
        <img src="./assets/icons/chevron-left.svg" alt ="backArrow"><p>Back</p>
    </button>
    <a href = "https://github.com/SuperSkipper/bpoon.com">
        <img src = "./assets/icons/GitHubWhite.svg" id= "git">
    </a>
</div>
<div id="mainBody">
        <h1>Bpoon.com</h1>
    <p>
        <img src="./assets/bpoon/homePage.PNG" alt="homeLogo" style="float: right; height: 300px; margin-left: 20px; box-shadow: 2px 2px 5px black;" >
        The current iteration of my personal website was developed during my spare time over the summer of 2020.
        It was done in an effort to transition from a WordPress website into something fully-custom that would afford
        me more control regarging the overall design and content. In addition to simply wanting to do something productive while staying home
        during the COVID-19 crisis, another goal in the development of this website was to serve as an exercise in familiarizing myself
        with Google's Angular framework. That being said, this is my first ever website developed with Angular. Eventually,
        this knowledge will be applied toward learning hybrid app development through the Ionic SDK.

    </p>
    <h2>What I've learned</h2>
    <p>
        <img src="./assets/bpoon/Code.PNG" alt="animation code" style="width: 400px; box-shadow: 2px 2px 5px black; float: left; margin-right: 20px;">
        Before I started working on this website, I did not have much knowledge beyond basic HTML, CSS, and JavaScript in terms of web development. As the development of
        this website went on, I began to pick up more and more aspects of both Angular as well as web design in general. With this website being my first project in
        Angular, I learned most if not all of Angular's fundementals through its creation. Various concepts such as component handling, routing and routing animations,
        data binding, dependency injection, and so on were completely foreign to me before making this website. Furthermore, creating this current iteration of
        my personal website has also allowed me to futher refine the modern minimalist aesthetic that I enjoy capturing in my work. The result of this learning is a
        fully hand-built website that I am truly proud to call my own.
    </p>
</div>
