::-webkit-scrollbar {
    width: 3px;
}

::-webkit-scrollbar-thumb {
    background: white; 
    transition: 1s;
}

button:focus{
    outline: none;
    box-shadow: none;
}

h1{
    font-family: 'Raleway', sans-serif;
    color: white;
    font-weight: 200;
    font-size: 50px;
    margin-bottom: 30px;
}

h2{
    font-family: 'Raleway', sans-serif;
    color: white;
    font-weight: 200;
    font-size: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
}

#back{
    margin-top: 30px;
    margin-left: 30px;
    background: none;
    border: none;
    display: inline-flex;
    align-items: center;
}

#back p{
    font-family: 'open sans', sans-serif;
    font-weight: 200;
    font-size: 20px;
    color: white;
}

#back img{
   width: 25px;
   height: 25px;
   transition: .25s ease-in-out;
}

#back:hover img{
    transform: translateX(-5px);
 }

#mainBody{
    overflow-y: scroll;
    display: flex;
    padding-right: 20px;
    flex-direction: column;
    margin-top: 50px;
    margin-left: 75px;
    margin-right: 75px;
    max-height: 550px;
}

#mainBody p{
    text-indent: 50px;
    font-family: 'open sans', sans-serif;
    font-weight: 200;
    color: white;
}

#git{
    height: 40px; 
    float: right; 
    margin: 30px;
    transition: .25s ease-in-out;
}

#git:hover{
    transform: translateY(-5px);
}