<button id= "back" routerLink = "../select">
  <img src="./assets/icons/chevron-left.svg" alt ="backArrow">
  <p>Back</p>
</button>
<div id="mainBody">
    <h1>Music in My Family</h1>
    <p>
      When I was growing up, my mom did quite a lot to ensure that music played part of my life.
      Back when she was growing up in China, my mom could never afford to buy any musical instruments
      or a teacher to teach her. She didn't have the time either, as most of her time was spent taking
      care of my two uncles while my grandparents were at work. Seeing this missed oppurtunity in the past
      was essentially the reason why my mom encouraged me to become musically literate.
    </p>
    <br>
    <p>
      Despite there being little formal musical education in my family, there was certainly still a taste
      for it. My grandparents, for example, always loved to listen to Chinese operas in their free time.
      My mom on the other hand, always enjoyed 80's mandopop along with some of the artists here in the US
      like Celine Dion. Beyond that, I also remember her having piles of cds back in the day.
    </p>
    <br>
    <p>
      As for my musical history, I can't say I remember a part of my life that wasn't impacted by music.
      I've spent years of my life both listening to as well as playing music. I started learning the piano
      in kindergarten and the violin in first grade. I got into music production in high school, and lately
      I've been trying to pick up the guitar. I've also spent more money than I'd care to admit buying instruments,
      hi-fi speakers and headphones, audio systems, and records.
    </p>
</div>
