<button id= "back" routerLink = "../select">
  <img src="./assets/icons/chevron-left.svg" alt ="backArrow">
  <p>Back</p>
</button>
<div id="mainBody">
  <h1>Portfolio 9: The Final Post</h1>
  <p>
    For my final post, I figured I'd explore the prevalence and usage musical scores in beyond just the film industry. More specifically,
    I'd like to explore the impact of scoring in video games. This topic in particular drew my interest as the primary difference between video games
    and film are their respective degrees of audience participation. This difference in interactivity allows for musical scores in video game scores to
    make an impact that is not even close to possible in films.
  </p>
  <br>
  <p>
    In films, the prime driver of the story is the media itself. The only form of audience participation is the actual act of watching the movie itself.
    Video games, on the other hand, are primarily driven by the actions of its audience. Therefore, they serve to provide an entirely unique
    dimension of interactivity not found within any other form of media. This interactivity presents a completely unique experience for
    the scoring that underlies video games.
  </p>
  <br>
  <p>
    In films, everything is predictable. a specific scene always happens at a specific time in the media. The accompanying music, then, is always played at the
    same time throughout the film. In modern video games, the music is far more unpredictable as it needs to actively follow the actions of the player.
    Think about the music played during a boss battle for example. It is playing because the player performed the requisite actions needed in order to enter into the battle. Similarly,
    it does not stop until the player either defeats or looses to the boss. The granularity can be further increased by having the music react to the actions
    that the player chooses to perform during the battle. The solution to this problem is writing music in modules rather than as an entire composition. This way,
    these modules can be programmed to play in response to a specific player action, with their lengths being determined by the desired amount of granularity.
  </p>
  <br>
  <p>
    As far as I am aware, this level of individual participation in the creation of music simply does not exist in any other form of media. The uniqueness of this participation
    makes video games an excellent medium for music.
  </p>
</div>
