<button id= "back" routerLink = "../select">
  <img src="./assets/icons/chevron-left.svg" alt ="backArrow">
  <p>Back</p>
</button>
<div id="mainBody">
  <h1>Portfolio 7: Film Review (Again)</h1>
  <p>
    <i>Soundtrack for a Revolution</i> is a documentary by Bill Guttentag and Dan Sturman about the civil rights era in the United States with an emphasis on
    the music sung at the time. The film follows various civil rights experts and activists as they recount the history of the civil rights
    movement with a musical context. Additionally, the film also features artists John Legend, Wyclef Jean, The Roots, Joss Stone,
    Blind Boys of Alabama, Mary Mary, Richie Heavens, Anthony Hamilton, and Angie Stone.
  </p>
  <br>
  <p>
    Being a film about music during the civil rights movement, it should not be surprising that all of the featured songs are, or are derived from, protest
    songs. As such, much of the film's music share similar characteristics. For example, true to their name, many of the protest songs were sung during protests.
    More specifically, they were sung during protests as a means to help protesters stay strong in the face of adversity. Therefore, content-wise, many of the songs
    featured within the film revolve around the themes of hope and solidarity. Additionally, due to the circumstances under which these songs were sung
    (in jails and public spaces not meant for music), many of them were sung monophonically in a somewhat impromptu manner by the protesters with no
    accompaniment of any kind. The exception to this was when the featured artists were depicted performing within a studio setting.
  </p>
  <br>
  <p>
    When looking at how the music featured in the film has changed over time, the foremost important aspect to recognize is its change in purpose.
    Like mentioned previously, during the days of the civil rights era, these pieces were performed primarily to inspire strength and perserverance
    within its performers. In modern times, however, these types of songs are sung in an effort to inspire rememberance of the suffering endured by those in the
    past. The result of this shift in purpose is that the songs have adopted a more somber tone in the recent years in comparison with the past.
  </p>
  <br>
  <p>
    I'm not sure if this counts, but when I was watching the film, one thing that really stood out to me was the sheer number of scenes that featured the modern artists with
    no musical context regarding how it related to the topic being discussed. To me, this seemed a bit irrelevant, as I didn't quite understand how those tied into
    the story that the film was trying to convey.
  </p>
</div>
