<div id="title">
  <h1>Ben's MUSI 2040 Portfolio</h1>
</div>
<div id="mainBody">
  <button class = "project" routerLink="../../../about">
    <div>
        <h1>Portfolio 1: Introduction</h1>
    </div>
    <img class = "arrow" src="./assets/icons/chevron-right.svg" alt = "Chevron">
  </button>
  <button class = "project" routerLink="../Music_in_My_Family">
    <div>
        <h1>Portfolio 2: Music in My Family</h1>
    </div>
    <img class = "arrow" src="./assets/icons/chevron-right.svg" alt = "Chevron">
  </button>
  <button class = "project" routerLink="../P3">
    <div>
        <h1>Portfolio 3: Ma Rainey</h1>
    </div>
    <img class = "arrow" src="./assets/icons/chevron-right.svg" alt = "Chevron">
  </button>
  <button class = "project" routerLink="../P4">
    <div>
        <h1>Portfolio 4: Blind Willie Johnson</h1>
    </div>
    <img class = "arrow" src="./assets/icons/chevron-right.svg" alt = "Chevron">
  </button>
  <button class = "project" routerLink="../P5">
    <div>
        <h1>Portfolio 5: Film Review</h1>
    </div>
    <img class = "arrow" src="./assets/icons/chevron-right.svg" alt = "Chevron">
  </button>
  <button class = "project" routerLink="../P6">
    <div>
        <h1>Portfolio 6: African American Performers in Minstrelsy</h1>
    </div>
    <img class = "arrow" src="./assets/icons/chevron-right.svg" alt = "Chevron">
  </button>
  <button class = "project" routerLink="../P7">
    <div>
        <h1>Portfolio 7: Film Review (Again)</h1>
    </div>
    <img class = "arrow" src="./assets/icons/chevron-right.svg" alt = "Chevron">
  </button>
  <button class = "project" routerLink="../P8">
    <div>
        <h1>Portfolio 8: Film Review (A Third Time)</h1>
    </div>
    <img class = "arrow" src="./assets/icons/chevron-right.svg" alt = "Chevron">
  </button>
  <button class = "project" routerLink="../P9">
    <div>
        <h1>Portfolio 9: The Final Post</h1>
    </div>
    <img class = "arrow" src="./assets/icons/chevron-right.svg" alt = "Chevron">
  </button>
  <button class = "project" routerLink="../F1">
    <div>
        <h1>Final 1: Musical Web</h1>
    </div>
    <img class = "arrow" src="./assets/icons/chevron-right.svg" alt = "Chevron">
  </button>
  <button class = "projectLast" routerLink="../F2">
    <div>
        <h1>Final 2: <i>The Phantom of the Opera (2004)</i></h1>
    </div>
    <img class = "arrow" src="./assets/icons/chevron-right.svg" alt = "Chevron">
  </button>
</div>
