<button id= "back" routerLink = "../select">
  <img src="./assets/icons/chevron-left.svg" alt ="backArrow">
  <p>Back</p>
</button>
<div id="mainBody">
  <h1>Portfolio 3: Ma Rainey</h1>

  <p>
    <img src="..\..\..\assets\musi2040\MaRainey.png" alt="Ma Rainey" style="float: right; height: 300px; margin-left: 20px; box-shadow: 2px 2px 5px black;">
    Gertrude Pridget was a quintessential figure in the world of blues, cerdited with helping to develop the genre into the incarnation that we know
    today. Born into a poor family in Columbus, Georgia, Pridget started her early career at the age of 14 by performing in minstrel acts before moving on to singing in
    traveling vaudeville performances. Through her travels within these performances, she met Willian "Pa" Rainey, who would eventually go on to become
    her husband. This is also when Pridget, now Rainey, took up the stage Name "Ma" in conjuction with William's "Pa". She would perform with Pa as a duo
    act for about a decade before the two separated. During her career as a singer, she became one of the first females to record blues professionally.
    Renouned for her strong "moaning" style of singing, she would very regularly sell out theaters and draw huge crowds of both White and African American attendees.
    Lyrically, much of her music were written to reflect the hardships faced by a woman living in her age. Rainey would later go on to associate with Paramount
    and perform with "some of the finest musicians of the day". Sadly, she passed away on December 22nd, 1939 due to heart complications.
  </p>
  <h2>
    <i>Countin’ the Blues</i>
  </h2>
  <iframe src="https://open.spotify.com/embed/track/2hbxUOhbVyqxIoLxk2AM0c" width="50%" height="80" frameBorder="0" allowtransparency="true" allow="encrypted-media" style="box-shadow: 2px 2px 5px black"></iframe>
  <br>
  <p>
    Being one of the pieces introduced in the book, Countin' the Blues is a very "by-the-books" blues song by modern day standards. It is performed in the 12-bar format and
    follows the AAB format very rigidly. Every stanza of the piece features prominent vocals in the first two verses, which are then decorated at the end by a cornet on the third.
    In a sense, even the rhyme scheme follows this pattern, with the last words of the first two verses of every stanza being the same and then last word of the third being different,
    but still rhyming with the first two. Overall, the piece evokes a melancholic mood as the instruments languish behind Ma's singing. Lyrically, the piece seems to fuse parts of
    gospel music into its roots as a blues composition, with many verses addressing "Lord" in a manner not unlike praying.
  </p>
  <h2>
    <i>Black Eye Blues</i>
  </h2>
  <iframe src="https://open.spotify.com/embed/track/3KuHKNc4l0ryqWuglWAYrG" width="50%" height="80" frameBorder="0" allowtransparency="true" allow="encrypted-media" style="box-shadow: 2px 2px 5px black"></iframe>
  <br>
  <p>
    Following very closely to Ma's modus operandi when it comes to writing her lyrics, the focus of this piece is on a woman stuck in an abusive relationship with her husband.
    The piece simultaneously puts emphasis on the protagonist's strength by later focusing on her plotting to eventualy catch her man with his "britches down", showing that she
    is not just idly allowing him to abuse her. The song seems to be sung in Rainey's signature "moaning" style and also seems to utilize the classic 12-bar blues pattern of composition.
  </p>
  <h2>
    Works Cited
  </h2>
  <p style="text-indent: 0px;">
    Orr, N. L.. "Gertrude "Ma" Rainey (1886-1939)." New Georgia Encyclopedia. 08 April 2021. Web. 01 July 2021.
    Brandman, Mariana. “Gertrude ‘Ma’ Rainey.” National Women’s History Museum, Web. 01 July 2021.
  </p>
</div>
