<div id = "backing">
    <img src="../../assets/resumes/resume.png" alt="resume">
    <div id = "buttons">
        <h1>Last Updated:</h1>
        <h2>Wednesday, June 3rd, 2020 </h2>
        <a download ="Benjamin Poon Resume" target="_blank" href="../../assets/resumes/Public Resume.pdf">Download as PDF</a>
        <a ownload ="Benjamin Poon Resume" target="_blank" href="../../assets/resumes/Public Resume.docx">Download as Word Doc</a>
        <a download ="Benjamin Poon Resume" target="_blank" href="../../assets/resumes/resume.png">Download as Image</a>
        <p>For privacy reasons, please email me at Ben@bpoon.com if you would like a copy of my resume with my address and phone number on it.</p>
    </div>
</div>
