<div>
    <button id= "back" routerLink = "../select">
        <img src="../../../assets/icons/chevron-left.svg" alt ="backArrow"><p>Back</p>
    </button>
    <a href = "https://github.com/SuperSkipper/bpoon.com">
        <img src = "../assets/icons/PowerPoint.svg" id= "git">
    </a>
</div>
<div id="content">
    <div id = "title">
        <img id="logo" src="../../../assets/spark/SPark.png" alt="SPark Logo">
        <h1>SPark</h1>
        <h2>A Smarter Way to Park</h2>
    </div>
    <div id="body">
        <div style="display: inline-flex;">
            <div style="display: flex; flex-direction: column;">
                <p>
                    SPark was an app concept created and pitched by Drew Traldi, Ariella Katz, Sifat Bhuiyan, 
                    and myself during Delloite's 2019 StartUp UGA competition. For the competition, we were allotted 
                    three days to conceptualize and pitch a solution to a problem faced by students at UGA. SPark was
                    a parking system concept that was eventually born from our efforts.
                </p>
                <h2 class="sectionHead">How it works</h2>
                <p>
                    SPark was designed with two primary goals in mind: to improve the efficiency of the existing parking spaces
                    at the University of Georgia while also keeping the cost of implementation and maintenance as low as possible.
                    As such, the proposed functionality of the system revolves around adding to the license plate scanning method
                    that the university currently employs. 
                </p>
            </div>
            <img src="../../../assets/spark/sparkMap.png" alt="sparkUI" style = "height: 500px; float: right;">
        </div>
    </div>
</div>

