<button id= "back" routerLink = "../select">
  <img src="./assets/icons/chevron-left.svg" alt ="backArrow">
  <p>Back</p>
</button>
<div id="mainBody">
  <h1>Final 1: Musical Web</h1>
  <h2><i>Maple Leaf Rag</i></h2>
  <p>
    Looking back at this listening log, while I was indeed familiar with the piece at the beginning of the course, there were definitely some new things that
    I recognized after listening to it again. For example, I never knew of Joplin's specification for it to be intentionally played at a moderate tempo. I've basically
    always played it as fast as I could, so I've definitely gained a new appreciation for playing it more slowly. As this rag is part of a genre that is the precursor
    to many of the other music featured throughout this course, I'd say that there are very many intersections to be found here. Particularly noticeable to me was its
    energetic bassline that was later reflected in much of jazz.
  </p>
  <h2><i>Walk This Way</i></h2>
  <p>
    Personally, after having gone back to this song, I have to say that I don't quite understand why it was introduced so early into the course. With this song being
    a fusion between rock and hip hop, I personally think it would have been more prudent to introduce this after the context of jazz. Especially with the rock aspects
    of the song, I think it would have been nice to get to know the roots of some of its riffs before getting introduced to it. As far as this song's place in the musical
    web is concerned, I'd say that while its inspiration is derived from a multitude of the genres covered in the course, its relatively late release date makes its impact
    on the other songs featured in the course somewhat minimal. Overall, I'd say that this song very much belongs in Candelaria's popular "stream". It essentially took the
    mass appeal of both rock and hip hop and was able to draw an audience out of both crowds.
  </p>
  <h2><i>The Yankee Doodle Boy</i></h2>
  <p>
    I think that this listening log was definitely enhanced by Album 6, where band music is introduced. In general, I'd definitely say that the I noticed aspects of march
    and by extension, field music scattered throughout the instrumental sections of the piece. Some prominent examples of this include martial drumming and the inclusion of
    the fife in the instrumental sections. This song also shares many inspirational connections with other music. The most obvious of these are the direct references to these
    pieces through either verbal or acoustic means. Perhaps the most obvious example of this is the reference to <i>Yankee Doodle</i> in both the song's name as well as the
    tune.
  </p>
  <h2><i>Give the World a Smile</i></h2>
  <p>
    When I was listening to this song writing my listening log, I focused almost exclusively on the vocals. While the vocals do have a dominating presence in the song,
    the instrumentation definitely still plays a part. After listening to it again for this assignment, I came to realize that I had basically tuned out the guitar
    and I wasn't even aware that the piano was a part of the song in the past. Unlike the previous songs that were mentioned so far, I personally don't think that there
    are very many connections with other pieces featured in the class. Of course, there was a connection to other gospel music and gospel's roots in folk music, but from
    what I know, the song seems to be more of a musical island than the others.
  </p>
  <h2><i>KoKo (Charlie Parker & Dizzy Gillespie)</i></h2>
  <p>
    The cool thing with bebop is that there is usually always something new that you pick up as you give the song more successive listens. That was absolutely the case even
    as I listen to it again now. I absolutely didn't realize that there were parts in the performance that were even repeated until now. The very abrupt stop at the end
    for example, actually occurs towards the very beginning as well. Overall, I feel like KoKo very much belongs in the popular music stream. With its origins as a bebop
    song being firmly rooted in the realms of jazz and blues, it's no surprise that KoKo makes references to other jazz pieces. The principal amongst these jazz pieces is
    Ray Noble's <i>Cherokee</i>, of which the chords of <i>KoKo</i> are based off of.
  </p>
</div>
