<br>
<div id="mainBody">
  <h1>Portfolio 4: Blind Willie Johnson</h1>
  <p>
    <img src="..\..\..\assets\musi2040\blindWillieJohnson.jpg" alt="Ma Rainey" style="float: right; height: 300px; margin-left: 20px; box-shadow: 2px 2px 5px black;">
    Blind Willie Johnson was an artist very much known for his slide guitar (though he often played with a pocket knife rather than a bottleneck) and his fusion of gospel and blues. In fact, he was one of the most primere performers of
    gospel blues to have ever existed. So influential was he, that his work <i>Dark Was the Night, Cold Was the Ground</i> was one of the songs chosen
    to be enscribed on the the Voyager Golden Records as a representation of human culture on Earth.<br><br>
    Born in a small town just south of Waco, Texas, Johnson lost his birth mother at a very young age. His blindness was later inflicted by a stray lye bottle
    thrown by his mother-in-law meant for his dad. Due to this blindness, Johnson mostly relied on play music in the streets to earn money. During this time,
    he played mostly blues before later moving onto gospel as his religious affiliations deepened. Later, Johnson went on to record multiple records with his wife Angeline at
    Columbia Records and became one of their best-selling race recording artists. After leaving the recording industry in 1930, Johnson continued performing on
    the streets of Texas before unfortunately succumbing to pneumonia shortly after his house burned down in 1947.
  </p>
  <h2>
    <i>Dark Was the Night, Cold Was the Ground</i>
  </h2>
  <iframe src="https://open.spotify.com/embed/track/2P9nh9pTK96dE0b6NBbTSs" width="50%" height="80" frameBorder="0" allowtransparency="true" allow="encrypted-media" style="box-shadow: 2px 2px 5px black"></iframe>
  <br>
  <p>
    This is the fabled song that is now on the payload of both Voyager 1 as well as Voyager 2. The piece itself contains both vocal as well as instrumental sections,
    but there are no descernable spoken words during any part of the performance. With both its name and its structure beign derived from the English hymn Gethsemane,
    the song's mournful and languishing moaning featured throughout was meant to draw a powerful image of Christ's grief and sorrow during the eve prior to his
    Crucifixion. This mood is even further expressed through the inclusion of various blues practices such as note-bending.
  </p>
  <h2>
    <i>The Soul of a Man</i>
  </h2>
  <iframe src="https://open.spotify.com/embed/track/5UEsyERm7tsNvDDZFylZZf" width="50%" height="80" frameBorder="0" allowtransparency="true" allow="encrypted-media" style="box-shadow: 2px 2px 5px black"></iframe>
  <br>
  <p>
    The Soul of a Man was performed as a duo between Johnson and Willie B. Harris, with Harris singing the harmony during the refrains. The song itself questions the spiritual nature of Man's soul. It captures and
    ponders this idea around a tune that is distinctly blues-like in its composition. These factors may have been influenced by the Great Depression, which had gripped the American populace prior to its publishing.
    Like many of his other works, the only other instrumentation beyond vocals is a guitar playing harmony throughout the piece.
  </p>
  <h2>
    Works Cited
  </h2>
  <p style="text-indent: 0px;">
    Layne, Joslyn "Blind Willie Johnson." AllMusic. 08 April 2021. Web. 01 July 2021.
    Britannica, The Editors of Encyclopaedia. "Blind Willie Johnson". Encyclopedia Britannica, 18 Jan. 2021, https://www.britannica.com/biography/Blind-Willie-Johnson. Accessed 5 July 2021.
  </p>
</div>
