<button id= "back" routerLink = "../select">
  <img src="./assets/icons/chevron-left.svg" alt ="backArrow">
  <p>Back</p>
</button>
<div id="mainBody">
  <h1>Portfolio 6: African American Performers in Minstrelsy</h1>
  <p>
    During the course of module 5, one particular not-so-covered topic that stood out to me were the African American performers in minstrel shows.
    More specifically, I was interested in learning about their motives in performing in shows that were meant to denigrate their own race. This
    interest was what served as the inspiration for this portfolio post.
  </p>
  <h2>Pre-Civil War</h2>
  <p>
    Prior to the civil war, there were only two known minstrelsy performers that were African American. These two individuals were William Henry Lane and
    Thomas Dilward. Overall, documentation on these individuals seemed to be somewhate sparse at best. Thomas Dilward was said to have been an excelent singer,
    dancer, actor, and violinist. He was also born with dwarfism, which severely hindered him from performing tasks that were typically expected of someone
    of his skin color back in the day. As such, he came to primarily rely on entertainment to support himself. On stage, however, Dilward's disability actually
    served as an advantage, getting him into minstrel troupes that ironically would otherwise never allow Black performers join. Due to both his dwarfism as well
    as his abilities, it was likely that the reason Dilward chose to perform in minstrels was purely for the sake of supporting himself.
  </p>
  <br>
  <p>
    William Henry Lane, on the other hand, was even less well-documented. In fact, even his name is up for speculation, as he primarily went by the name of Master Juba.
    His motivations for performing in minstrels seem to have been due to his affinity for dance. In that sense, he competed and won against even the very best white
    minstrel dancers at the time. He would later go on to become extremely successful in the European circuit.
  </p>
  <h2>Post-Civil War</h2>
  <p>
    After the Civil War, more and more exclusively black minstrel troupes began to appear. These groups of performers often touted that their performances were authentic in comparison to their white minstrel
    counterparts. In fact, many of the African American minstrel troupes included the word "Georgia" in their name in an effort to convey to their audience that their performers were
    genuine slaves prior to the Civil War. Meanwhile, the primary motivator for these performers seems to also have been for the purposes of self-sustinance, as black minstrels usually paid better
    than most other occupations that were available to them at the time. Additionally though, many African American minstrel shows also subtly subverted black sterotypes while also
    making fun of aspects of white culture. Though the real reason is still debated by historians, this may also have contributed to the comparatively large crowds of African American
    audiences that Georgia Minstrels commonly drew.
  </p>
  <div>
    <h2>Works Cited</h2>
    <p>Blumberg, Naomi and Yalzadeh, Ida. "Master Juba". Encyclopedia Britannica, 1 Jan. 2021, https://www.britannica.com/topic/Master-Juba. Accessed 19 July 2021.</p>
    <br><p>Andrew Kuntz, "Fiddle Tune History -- Minstrel Tales: Picayune Butler and Japanese Tommy 'Hunky Dory!'", Fiddler Magazine, May 24, 2012.</p>
    <br><p>Alexander, Michelle. The New Jim Crow. United States, New Press, 2011.</p>
    <br><p>Toll, Robert C. (1974), Blacking Up: The Minstrel Show in Nineteenth-century America, New York: Oxford University Press</p>
  </div>

</div>
